In [4]:
import pandas as pd
%matplotlib inline

In [6]:
df=pd.read_csv('LTC-USD.csv',names=['time','low','high','open','close','volume'])

In [7]:
df.head()

         time        low       high       open      close      volume
0  1528968660  96.580002  96.589996  96.589996  96.580002    9.647200
1  1528968720  96.449997  96.669998  96.589996  96.660004  314.387024
2  1528968780  96.470001  96.570000  96.570000  96.570000   77.129799
3  1528968840  96.449997  96.570000  96.570000  96.500000    7.216067
4  1528968900  96.279999  96.540001  96.500000  96.389999  524.539978

In [25]:
ratios=['LTC-USD','BCH-USD','BTC-USD','ETH-USD']

main_df=pd.DataFrame()
for ratio in ratios:
    
    print(ratio)
    dataset=ratio+'.csv'
    df=pd.read_csv(dataset,names=['time','low','high','open','close','volume'])
    
    ## rename the columns
    df.rename(columns={'close':ratio+'close','volume':ratio+'volume'},inplace=True)
    
    df.set_index('time',inplace=True)
    
    df=df[[ratio+'close',ratio+'volume']]
    
    if len(main_df)==0:
        main_df=df
    else:
        main_df=main_df.join(df)

#main_df.fillna()
print(main_df.head())

LTC-USD
BCH-USD
BTC-USD
ETH-USD
            LTC-USDclose  LTC-USDvolume  BCH-USDclose  BCH-USDvolume  \
time
1528968660     96.580002       9.647200    871.719971       5.675361
1528968720     96.660004     314.387024    870.859985      26.856577
1528968780     96.570000      77.129799    870.099976       1.124300
1528968840     96.500000       7.216067    870.789978       1.749862
1528968900     96.389999     524.539978    870.000000       1.680500

            BTC-USDclose  BTC-USDvolume  ETH-USDclose  ETH-USDvolume
time
1528968660   6489.549805       0.587100           NaN            NaN
1528968720   6487.379883       7.706374     486.01001      26.019083
1528968780   6479.410156       3.088252     486.00000       8.449400
1528968840   6479.410156       1.404100     485.75000      26.994646
1528968900   6479.979980       0.753000     486.00000      77.355759

In [26]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101883 entries, 1528968660 to 1535215260
Data columns (total 8 columns):
LTC-USDclose     101883 non-null float64
LTC-USDvolume    101883 non-null float64
BCH-USDclose     91389 non-null float64
BCH-USDvolume    91389 non-null float64
BTC-USDclose     96495 non-null float64
BTC-USDvolume    96495 non-null float64
ETH-USDclose     101607 non-null float64
ETH-USDvolume    101607 non-null float64
dtypes: float64(8)
memory usage: 12.0 MB

In [27]:
main_df.describe()

,LTC-USDclose,LTC-USDvolume,BCH-USDclose,BCH-USDvolume,BTC-USDclose,BTC-USDvolume,ETH-USDclose,ETH-USDvolume
count,101883.000000,101883.000000,91389.000000,91389.000000,96495.000000,96495.000000,101607.000000,101607.000000
mean,77.106538,117.740514,717.958078,11.684106,6771.628569,6.085198,421.700171,56.858349
std,12.665563,285.366124,111.099142,33.522667,640.753115,16.734361,74.774117,154.491608
min,49.560001,0.000060,473.209991,0.000002,5778.109863,0.001915,251.000000,0.000030
25%,72.519997,12.073304,656.150024,0.436415,6340.024902,0.842949,397.315002,5.589096
50%,79.900002,34.492237,731.830017,2.051119,6535.410156,2.034166,449.239990,15.776600
75%,84.410004,104.343212,804.489990,8.995561,7280.009766,5.026753,471.019989,46.984383
max,103.040001,10263.191410,927.000000,1520.833862,8482.799805,801.442993,547.000000,9310.024414

In [35]:
## as we need to make uniform dataset we fill the gaps
main_df.fillna(method='ffill',inplace=True)  # if there are gaps in data, use previously known values
main_df.dropna(inplace=True)
main_df.head()

,LTC-USDclose,LTC-USDvolume,BCH-USDclose,BCH-USDvolume,BTC-USDclose,BTC-USDvolume,ETH-USDclose,ETH-USDvolume
time,,,,,,,,
1528968720,96.660004,314.387024,870.859985,26.856577,6487.379883,7.706374,486.01001,26.019083
1528968780,96.570000,77.129799,870.099976,1.124300,6479.410156,3.088252,486.00000,8.449400
1528968840,96.500000,7.216067,870.789978,1.749862,6479.410156,1.404100,485.75000,26.994646
1528968900,96.389999,524.539978,870.000000,1.680500,6479.979980,0.753000,486.00000,77.355759
1528968960,96.519997,16.991997,869.989990,1.669014,6480.000000,1.490900,486.00000,7.503300

In [36]:
main_df.describe()

,LTC-USDclose,LTC-USDvolume,BCH-USDclose,BCH-USDvolume,BTC-USDclose,BTC-USDvolume,ETH-USDclose,ETH-USDvolume
count,101882.000000,101882.000000,101882.000000,101882.000000,101882.000000,101882.000000,101882.000000,101882.000000
mean,77.106347,117.741575,717.247216,10.918515,6778.881470,6.033423,421.690726,56.765622
std,12.665478,285.367324,110.952834,32.118793,624.438225,16.287719,74.769418,154.573611
min,49.560001,0.000060,473.209991,0.000002,5778.109863,0.001915,251.000000,0.000030
25%,72.519997,12.073337,655.472473,0.382687,6349.189941,0.895703,397.549988,5.565891
50%,79.900002,34.496257,730.989990,1.859040,6574.975098,2.221135,449.250000,15.728590
75%,84.410004,104.344118,803.614990,8.074222,7014.750000,5.151826,471.007507,46.835917
max,103.040001,10263.191410,927.000000,1520.833862,8482.799805,801.442993,547.000000,9310.024414

We take the sequence length 60 for the rnn and we want to predict the data for 3 minutes into the future and we want to predict whether we want to buy or sell it.

In [37]:
seq_len=60
future_pred=3
## for now we will predict the prices of the BTC-USD
ratio_to_predict='BTC-USD'

In [38]:
def classify(curr,fut):
    if(fut>curr):
        return 1
    else:
        return 0

We map the above function to predict the labels.

In [40]:
main_df['future']=main_df[ratio_to_predict+'close'].shift(-future_pred)

In [41]:
main_df['target']=list(map(classify,main_df[ratio_to_predict+'close'],main_df['future']))

In [42]:
main_df.head()

,LTC-USDclose,LTC-USDvolume,BCH-USDclose,BCH-USDvolume,BTC-USDclose,BTC-USDvolume,ETH-USDclose,ETH-USDvolume,future,target
time,,,,,,,,,,
1528968720,96.660004,314.387024,870.859985,26.856577,6487.379883,7.706374,486.01001,26.019083,6479.979980,0
1528968780,96.570000,77.129799,870.099976,1.124300,6479.410156,3.088252,486.00000,8.449400,6480.000000,1
1528968840,96.500000,7.216067,870.789978,1.749862,6479.410156,1.404100,485.75000,26.994646,6477.220215,0
1528968900,96.389999,524.539978,870.000000,1.680500,6479.979980,0.753000,486.00000,77.355759,6480.000000,1
1528968960,96.519997,16.991997,869.989990,1.669014,6480.000000,1.490900,486.00000,7.503300,6479.990234,0

In [60]:
main_df.describe()

,LTC-USDclose,LTC-USDvolume,BCH-USDclose,BCH-USDvolume,BTC-USDclose,BTC-USDvolume,ETH-USDclose,ETH-USDvolume,future,target
count,96788.000000,96788.000000,96788.000000,96788.000000,96788.000000,96788.000000,96788.000000,96788.000000,96788.000000,96788.000000
mean,78.177470,119.250834,727.057114,11.106231,6790.612858,6.026253,429.294960,56.380786,6790.622484,0.424143
std,12.076839,287.374005,105.013352,32.522142,637.856197,16.108199,68.750655,154.015593,637.853885,0.494215
min,49.560001,0.000060,473.209991,0.000002,5778.109863,0.001915,251.000000,0.000030,5778.109863,0.000000
25%,74.290001,12.314004,690.297485,0.393390,6341.339844,0.896463,408.000000,5.554929,6341.339844,0.000000
50%,80.639999,35.185001,740.059998,1.918528,6578.060059,2.230048,451.260010,15.678350,6578.069824,0.000000
75%,84.712500,106.102585,809.422485,8.317354,7267.787353,5.151826,472.100006,46.594953,7267.787353,1.000000
max,103.040001,10263.191410,927.000000,1520.833862,8482.799805,801.442993,547.000000,9310.024414,8482.799805,1.000000

Forming the validation set.Here we cannot randomly shuffle the data and then slice out the validation set.

In [45]:
times=sorted(main_df.index.values)    #Return a new list containing all items from the iterable in ascending order.
last_5pct=sorted(main_df.index.values)[-int(0.05*len(times))]   ## get the last 5% of times.

# here validation set is 5% of the total dataset.
validation_main_df=main_df[main_df.index>=last_5pct]
main_df=main_df[main_df.index<last_5pct]

Now we need to balance and normalize the data. By balacing we mean that the label of the data does not belong to only one class but have equal amount of different labels so that our model after training doesnot predict only one class.

One way to counteract the above problem is by using weighted class that allows us to assign higher weights to the lesser frequent class. That said, this method is not comparable to a balanced data-set.

In [46]:
from sklearn import preprocessing

In [47]:
import numpy as np

# Normalising and scaling the data

In [49]:
def preprocess(df):
    df=df.drop('future',1)
    
    for col in df.columns:
        if col!='target':
            df[col]=df[col].pct_change() 
        # pct change "normalizes" the different currencies (each crypto coin has vastly diff values, we're really 
        #                                                   more interested in the other coin's movements)
            
            ## there will be some zero after this and infinity.
            df[col]=df[col].replace(np.inf,np.nan)
            df.dropna(inplace=True)
            
            df[col]=preprocessing.scale(df[col].values)  # scale between 0 and 1.
            
    df.dropna(inplace=True)  ## clearing up any nans left.

# Creating the sequence

In [54]:
main_df.values

array([[9.66600040e+01, 3.14387024e+02, 8.70859985e+02, ...,
        2.60190830e+01, 6.47997998e+03, 0.00000000e+00],
       [9.65700000e+01, 7.71297990e+01, 8.70099976e+02, ...,
        8.44940000e+00, 6.48000000e+03, 1.00000000e+00],
       [9.65000000e+01, 7.21606700e+00, 8.70789978e+02, ...,
        2.69946460e+01, 6.47722022e+03, 0.00000000e+00],
       ...,
       [5.81600000e+01, 2.33914398e+02, 5.61409973e+02, ...,
        3.08321340e+01, 6.80283008e+03, 1.00000000e+00],
       [5.81800000e+01, 3.80746002e+02, 5.63619995e+02, ...,
        1.11611511e+02, 6.78858008e+03, 1.00000000e+00],
       [5.82599980e+01, 5.67177660e+01, 5.62659973e+02, ...,
        1.25616470e+02, 6.78650977e+03, 1.00000000e+00]])

In [52]:
## for example
main_df.values[-1]

array([5.82599980e+01, 5.67177660e+01, 5.62659973e+02, 7.56550500e+00,
       6.77700000e+03, 8.31823300e+00, 2.93250000e+02, 1.25616470e+02,
       6.78650977e+03, 1.00000000e+00])

In [55]:
main_df.values[-1][-1]

1.0

In [57]:
    import random
    from collections import deque

In [59]:
    sequential_data=[]
    prev=deque(maxlen=seq_len)
    # These will be our actual sequences. 
    # They are made with deque, which keeps the maximum length by popping out older values as new ones come in.

    for i in df.values:
        prev.append([n for n in i[:-1]])
        if len(prev)==seq_len:
            sequential_data.append([np.array(prev),i[-1]])

    random.shuffle(sequential_data)

# Balancing the dataset

In [69]:
    buys=[]
    sells=[]

    for seq,target in sequential_data:
        if(target==0):  ## if it's not a buy.
            sells.append([seq,target])
        else:
            buys.append([seq,target])

    random.shuffle(sells)
    random.shuffle(buys)

    lower=min(len(buys),len(sells))

    buys=buys[:lower]
    sells=sells[:lower]

    sequential_data=buys+sells
    random.shuffle(sequential_data)

In [70]:
    ## splitting the data into training and testing set.
    X=[]
    y=[]
    for seq,target in sequential_data:
        X.append(seq)
        y.append(target)

# Now combining all the above methods in the prerocess function

In [75]:
def preprocess(df):
    df=df.drop('future',1)
    
    for col in df.columns:
        if col!='target':
            df[col]=df[col].pct_change() 
        # pct change "normalizes" the different currencies (each crypto coin has vastly diff values, we're really 
        #                                                   more interested in the other coin's movements)
            
            ## there will be some zero after this and infinity.
            df[col]=df[col].replace(np.inf,np.nan)
            df.dropna(inplace=True)
            
            df[col]=preprocessing.scale(df[col].values)  # scale between 0 and 1.
            
    df.dropna(inplace=True)  ## clearing up any nans left.
   
    ## creating the sequence
    sequential_data=[]
    prev=deque(maxlen=seq_len)
    # These will be our actual sequences. 
    # They are made with deque, which keeps the maximum length by popping out older values as new ones come in.

    for i in df.values:
        prev.append([n for n in i[:-1]])
        if len(prev)==seq_len:
            sequential_data.append([np.array(prev),i[-1]])

    random.shuffle(sequential_data)
    
    buys=[]
    sells=[]

    ## balancing the data set
    for seq,target in sequential_data:
        if(target==0):  ## if it's not a buy.
            sells.append([seq,target])
        else:
            buys.append([seq,target])

    random.shuffle(sells)
    random.shuffle(buys)

    lower=min(len(buys),len(sells))

    buys=buys[:lower]
    sells=sells[:lower]

    sequential_data=buys+sells
    random.shuffle(sequential_data)
    
    ## splitting the data into training and testing set.
    X=[]
    y=[]
    for seq,target in sequential_data:
        X.append(seq)
        y.append(target)

    return np.array(X),y

In [79]:
train_x,train_y=preprocess(main_df)
validation_x,validation_y=preprocess(validation_main_df)

In [82]:
print('Train data:{} , validation:{}'.format(len(train_x),len(validation_x)))
print('Dont buy:{}, buys:{}'.format(train_y.count(0),train_y.count(1)))
print('validation dont buys:{}   ,  validation buys:{}'.format(validation_y.count(0),validation_y.count(1)))

Train data:82032 , validation:4688
Dont buy:41016, buys:41016
validation dont buys:2344   ,  validation buys:2344

In [86]:
import time

epochs=10
batch_size=64
name='{}--seq--{}--pred-{}'.format(seq_len,future_pred,int(time.time()))

In [103]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM, BatchNormalization
from tensorflow.keras.callbacks import TensorBoard
from tensorflow.keras.callbacks import ModelCheckpoint

In [104]:
model = Sequential()
model.add(LSTM(128, input_shape=(train_x.shape[1:]), return_sequences=True))
model.add(Dropout(0.2))
model.add(BatchNormalization())  #normalizes activation outputs, same reason you want to normalize your input data.

model.add(LSTM(128, return_sequences=True))
model.add(Dropout(0.1))
model.add(BatchNormalization())

model.add(LSTM(128))
model.add(Dropout(0.2))
model.add(BatchNormalization())

model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(2, activation='softmax'))

In [105]:
opt=tf.keras.optimizers.Adam(lr=0.001,decay=1e-6)
model.compile(loss='sparse_categorical_crossentropy',optimizer=opt,metrics=['accuracy'])

In [106]:
tensorboard = TensorBoard(log_dir="logs/{}".format(name))

In [107]:
filepath="RNN_Final-{epoch:02d}-{val_acc:.3f}"  # unique file name that will include the epoch and the validation acc for that epoch
checkpoint = ModelCheckpoint("models/{}.model".format(filepath, monitor='val_acc', verbose=1, save_best_only=True, mode='max')) # saves only the best ones

In [ ]:
# Train model
history = model.fit(
    train_x, train_y,
    batch_size=batch_size,
    epochs=epochs,
    validation_data=(validation_x, validation_y),
    callbacks=[tensorboard, checkpoint],
)