In [1]:
!ls

sample_data

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
!ls "/content/drive/My Drive"

app  clouderizer  Colab Notebooks  models

The above functions were executed to link the drive

In [5]:
! pip install keras

Requirement already satisfied: keras in /usr/local/lib/python3.6/dist-packages (2.1.6)
Requirement already satisfied: scipy>=0.14 in /usr/local/lib/python3.6/dist-packages (from keras) (0.19.1)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from keras) (1.11.0)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras) (2.8.0)
Requirement already satisfied: numpy>=1.9.1 in /usr/local/lib/python3.6/dist-packages (from keras) (1.14.6)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from keras) (3.13)

In [6]:
## to check whether the gpu is working or not.

import tensorflow as tf
tf.test.gpu_device_name()

'/device:GPU:0'

In [0]:
import pandas as pd

In [0]:
path="/content/drive/My Drive/Colab Notebooks/crypto_data/"

In [0]:
df=pd.read_csv(path+'LTC-USD.csv')

In [14]:
df.head()

   1528968660  96.580002  96.589996  96.589996.1  96.580002.1      9.6472
0  1528968720  96.449997  96.669998    96.589996    96.660004  314.387024
1  1528968780  96.470001  96.570000    96.570000    96.570000   77.129799
2  1528968840  96.449997  96.570000    96.570000    96.500000    7.216067
3  1528968900  96.279999  96.540001    96.500000    96.389999  524.539978
4  1528968960  96.459999  96.519997    96.459999    96.519997   16.991997

In [15]:
ratios=['LTC-USD','BCH-USD','BTC-USD','ETH-USD']

main_df=pd.DataFrame()
for ratio in ratios:
    
    print(ratio)
    dataset=path+ratio+'.csv'
    df=pd.read_csv(dataset,names=['time','low','high','open','close','volume'])
    
    ## rename the columns
    df.rename(columns={'close':ratio+'close','volume':ratio+'volume'},inplace=True)
    
    df.set_index('time',inplace=True)
    
    df=df[[ratio+'close',ratio+'volume']]
    
    if len(main_df)==0:
        main_df=df
    else:
        main_df=main_df.join(df)

#main_df.fillna()
print(main_df.head())

LTC-USD
BCH-USD
BTC-USD
ETH-USD
            LTC-USDclose  LTC-USDvolume  BCH-USDclose  BCH-USDvolume  \
time
1528968660     96.580002       9.647200    871.719971       5.675361
1528968720     96.660004     314.387024    870.859985      26.856577
1528968780     96.570000      77.129799    870.099976       1.124300
1528968840     96.500000       7.216067    870.789978       1.749862
1528968900     96.389999     524.539978    870.000000       1.680500

            BTC-USDclose  BTC-USDvolume  ETH-USDclose  ETH-USDvolume
time
1528968660   6489.549805       0.587100           NaN            NaN
1528968720   6487.379883       7.706374     486.01001      26.019083
1528968780   6479.410156       3.088252     486.00000       8.449400
1528968840   6479.410156       1.404100     485.75000      26.994646
1528968900   6479.979980       0.753000     486.00000      77.355759

In [16]:
main_df.describe()

,LTC-USDclose,LTC-USDvolume,BCH-USDclose,BCH-USDvolume,BTC-USDclose,BTC-USDvolume,ETH-USDclose,ETH-USDvolume
count,101883.000000,101883.000000,91389.000000,91389.000000,96495.000000,96495.000000,101607.000000,101607.000000
mean,77.106538,117.740514,717.958078,11.684106,6771.628569,6.085198,421.700171,56.858349
std,12.665563,285.366124,111.099142,33.522667,640.753115,16.734361,74.774117,154.491608
min,49.560001,0.000060,473.209991,0.000002,5778.109863,0.001915,251.000000,0.000030
25%,72.519997,12.073304,656.150024,0.436415,6340.024902,0.842949,397.315002,5.589096
50%,79.900002,34.492237,731.830017,2.051119,6535.410156,2.034166,449.239990,15.776600
75%,84.410004,104.343212,804.489990,8.995561,7280.009766,5.026753,471.019989,46.984383
max,103.040001,10263.191410,927.000000,1520.833862,8482.799805,801.442993,547.000000,9310.024414

In [17]:
## as we need to make uniform dataset we fill the gaps
main_df.fillna(method='ffill',inplace=True)  # if there are gaps in data, use previously known values
main_df.dropna(inplace=True)
main_df.head()

,LTC-USDclose,LTC-USDvolume,BCH-USDclose,BCH-USDvolume,BTC-USDclose,BTC-USDvolume,ETH-USDclose,ETH-USDvolume
time,,,,,,,,
1528968720,96.660004,314.387024,870.859985,26.856577,6487.379883,7.706374,486.01001,26.019083
1528968780,96.570000,77.129799,870.099976,1.124300,6479.410156,3.088252,486.00000,8.449400
1528968840,96.500000,7.216067,870.789978,1.749862,6479.410156,1.404100,485.75000,26.994646
1528968900,96.389999,524.539978,870.000000,1.680500,6479.979980,0.753000,486.00000,77.355759
1528968960,96.519997,16.991997,869.989990,1.669014,6480.000000,1.490900,486.00000,7.503300

In [0]:
seq_len=60
future_pred=3
## for now we will predict the prices of the BTC-USD
ratio_to_predict='BTC-USD'

In [0]:
def classify(curr,fut):
    if(fut>curr):
        return 1
    else:
        return 0

In [0]:
main_df['future']=main_df[ratio_to_predict+'close'].shift(-future_pred)

In [0]:
main_df['target']=list(map(classify,main_df[ratio_to_predict+'close'],main_df['future']))

In [22]:
main_df.head()

,LTC-USDclose,LTC-USDvolume,BCH-USDclose,BCH-USDvolume,BTC-USDclose,BTC-USDvolume,ETH-USDclose,ETH-USDvolume,future,target
time,,,,,,,,,,
1528968720,96.660004,314.387024,870.859985,26.856577,6487.379883,7.706374,486.01001,26.019083,6479.979980,0
1528968780,96.570000,77.129799,870.099976,1.124300,6479.410156,3.088252,486.00000,8.449400,6480.000000,1
1528968840,96.500000,7.216067,870.789978,1.749862,6479.410156,1.404100,485.75000,26.994646,6477.220215,0
1528968900,96.389999,524.539978,870.000000,1.680500,6479.979980,0.753000,486.00000,77.355759,6480.000000,1
1528968960,96.519997,16.991997,869.989990,1.669014,6480.000000,1.490900,486.00000,7.503300,6479.990234,0

In [0]:
times=sorted(main_df.index.values)    #Return a new list containing all items from the iterable in ascending order.
last_5pct=sorted(main_df.index.values)[-int(0.05*len(times))]   ## get the last 5% of times.

# here validation set is 5% of the total dataset.
validation_main_df=main_df[main_df.index>=last_5pct]
main_df=main_df[main_df.index<last_5pct]

In [0]:
from sklearn import preprocessing

In [0]:
import numpy as np

In [0]:
from collections import deque

In [0]:
def preprocess(df):
    df=df.drop('future',1)
    
    for col in df.columns:
        if col!='target':
            df[col]=df[col].pct_change() 
        # pct change "normalizes" the different currencies (each crypto coin has vastly diff values, we're really 
        #                                                   more interested in the other coin's movements)
            
            ## there will be some zero after this and infinity.
            df[col]=df[col].replace(np.inf,np.nan)
            df.dropna(inplace=True)
            
            df[col]=preprocessing.scale(df[col].values)  # scale between 0 and 1.
            
    df.dropna(inplace=True)  ## clearing up any nans left.
   
    ## creating the sequence
    sequential_data=[]
    prev=deque(maxlen=seq_len)
    # These will be our actual sequences. 
    # They are made with deque, which keeps the maximum length by popping out older values as new ones come in.

    for i in df.values:
        prev.append([n for n in i[:-1]])
        if len(prev)==seq_len:
            sequential_data.append([np.array(prev),i[-1]])

    random.shuffle(sequential_data)
    
    buys=[]
    sells=[]

    ## balancing the data set
    for seq,target in sequential_data:
        if(target==0):  ## if it's not a buy.
            sells.append([seq,target])
        else:
            buys.append([seq,target])

    random.shuffle(sells)
    random.shuffle(buys)

    lower=min(len(buys),len(sells))

    buys=buys[:lower]
    sells=sells[:lower]

    sequential_data=buys+sells
    random.shuffle(sequential_data)
    
    ## splitting the data into training and testing set.
    X=[]
    y=[]
    for seq,target in sequential_data:
        X.append(seq)
        y.append(target)

    return np.array(X),y

In [0]:
import random

In [0]:
train_x,train_y=preprocess(main_df)
validation_x,validation_y=preprocess(validation_main_df)

In [33]:
print('Train data:{} , validation:{}'.format(len(train_x),len(validation_x)))
print('Dont buy:{}, buys:{}'.format(train_y.count(0),train_y.count(1)))
print('validation dont buys:{}   ,  validation buys:{}'.format(validation_y.count(0),validation_y.count(1)))

Train data:82032 , validation:4688
Dont buy:41016, buys:41016
validation dont buys:2344   ,  validation buys:2344

In [0]:
import time

epochs=10
batch_size=64
name='{}--seq--{}--pred-{}'.format(seq_len,future_pred,int(time.time()))

In [0]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM, BatchNormalization,CuDNNLSTM
from tensorflow.keras.callbacks import TensorBoard
from tensorflow.keras.callbacks import ModelCheckpoint

In [0]:
model = Sequential()
model.add(CuDNNLSTM(128, input_shape=(train_x.shape[1:]), return_sequences=True))
model.add(Dropout(0.2))
model.add(BatchNormalization())  #normalizes activation outputs, same reason you want to normalize your input data.

model.add(CuDNNLSTM(128, return_sequences=True))
model.add(Dropout(0.1))
model.add(BatchNormalization())

model.add(CuDNNLSTM(128))
model.add(Dropout(0.2))
model.add(BatchNormalization())

model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(2, activation='softmax'))

In [0]:
opt=tf.keras.optimizers.Adam(lr=0.001,decay=1e-6)
model.compile(loss='sparse_categorical_crossentropy',optimizer=opt,metrics=['accuracy'])

# Running tensorboard on google cloud

In [48]:
# You can change the directory name
LOG_DIR = 'tb_logs'

!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip

import os
if not os.path.exists(LOG_DIR):
  os.makedirs(LOG_DIR)
  
get_ipython().system_raw(
    'tensorboard --logdir {} --host 0.0.0.0 --port 6006 &'
    .format(LOG_DIR))

get_ipython().system_raw('./ngrok http 6006 &')

!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

Redirecting output to ‘wget-log.1’.
Archive:  ngrok-stable-linux-amd64.zip
replace ngrok? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
http://6fe44d67.ngrok.io

In [0]:
from keras.callbacks import TensorBoard
tensorboard = TensorBoard(log_dir='tb_logs', histogram_freq=1,
                         write_graph=True,
                         write_grads=True,
                         batch_size=batch_size,
                         write_images=True)

In [0]:
filepath="RNN_Final-{epoch:02d}-{val_acc:.3f}"  # unique file name that will include the epoch and the validation acc for that epoch
checkpoint = ModelCheckpoint("models/{}.model".format(filepath, monitor='val_acc', verbose=1, save_best_only=True, mode='max')) # saves only the best ones

In [54]:
model = Sequential()
model.add(CuDNNLSTM(128, input_shape=(train_x.shape[1:]), return_sequences=True))
model.add(Dropout(0.2))
model.add(BatchNormalization())

model.add(CuDNNLSTM(128, return_sequences=True))
model.add(Dropout(0.1))
model.add(BatchNormalization())

model.add(CuDNNLSTM(128))
model.add(Dropout(0.2))
model.add(BatchNormalization())

model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(2, activation='softmax'))


opt = tf.keras.optimizers.Adam(lr=0.001, decay=1e-6)

# Compile model
model.compile(
    loss='sparse_categorical_crossentropy',
    optimizer=opt,
    metrics=['accuracy']
)


filepath = "RNN_Final-{epoch:02d}-{val_acc:.3f}"  # unique file name that will include the epoch and the validation acc for that epoch
checkpoint = ModelCheckpoint("models/{}.model".format(filepath, monitor='val_acc', verbose=1, save_best_only=True, mode='max')) # saves only the best ones

# Train model
history = model.fit(
    train_x, train_y,
    batch_size=batch_size,
    epochs=epochs,
    validation_data=(validation_x, validation_y),
    #callbacks=[tensorboard, checkpoint],
)

Train on 82032 samples, validate on 4688 samples
Epoch 1/10
82032/82032 [==============================] - 98s 1ms/step - loss: 0.7068 - acc: 0.5047 - val_loss: 0.6931 - val_acc: 0.5034
Epoch 2/10
82032/82032 [==============================] - 89s 1ms/step - loss: 0.6834 - acc: 0.5413 - val_loss: 1.2699 - val_acc: 0.5207
Epoch 3/10
82032/82032 [==============================] - 88s 1ms/step - loss: 0.6528 - acc: 0.5876 - val_loss: 0.6810 - val_acc: 0.5595
Epoch 4/10
82032/82032 [==============================] - 91s 1ms/step - loss: 0.6467 - acc: 0.5970 - val_loss: 0.6774 - val_acc: 0.5578
Epoch 5/10
82032/82032 [==============================] - 89s 1ms/step - loss: 0.6437 - acc: 0.6040 - val_loss: 0.6860 - val_acc: 0.5459
Epoch 6/10
82032/82032 [==============================] - 91s 1ms/step - loss: 0.6426 - acc: 0.6040 - val_loss: 0.6886 - val_acc: 0.5403
Epoch 7/10
82032/82032 [==============================] - 92s 1ms/step - loss: 0.6396 - acc: 0.6093 - val_loss: 0.6753 - val_acc: 0.5749
Epoch 8/10
82032/82032 [==============================] - 90s 1ms/step - loss: 0.6395 - acc: 0.6086 - val_loss: 0.6810 - val_acc: 0.5683
Epoch 9/10
82032/82032 [==============================] - 88s 1ms/step - loss: 0.6363 - acc: 0.6135 - val_loss: 0.6776 - val_acc: 0.5753
Epoch 10/10
82032/82032 [==============================] - 91s 1ms/step - loss: 0.6347 - acc: 0.6166 - val_loss: 0.6840 - val_acc: 0.5488

In [55]:
## score of the model
score=model.evaluate(validation_x,validation_y,verbose=0)
print('Test loss:',score[0])
print('Test accuracy:',score[1])

Test loss: 0.6839717988674958
Test accuracy: 0.5488481228668942

In [0]:
#saving the model
model.save('/content/drive/My Drive/Colab Notebooks/models_{}'.format(name))